BODY,TD,TH,A,INPUT,TEXTAREA,SELECT {FONT-SIZE:9pt; FONT-FAMILY: ו,Verdana,Arial,Helvetica,sans-serif;}
form{margin: 0; padding: 0}
body, table, tr, td, select, textarea {font:12px/1.3em simsun ו arial;color:#464646;word-break:break-all;word-wrap:break-word;scrollbar-face-color:#DDDDDD;scrollbar-highlight-color: #CCCCCC;scrollbar-shadow-color: #CCCCCC;scrollbar-3dlight-color: #F5F5F5;scrollbar-darkshadow-color: #F5F5F5;scrollbar-track-color: #F0F0F0;scrollbar-arrow-color: #FFFFFF;margin-left: 0px}
.menubody{background-color:#e1f3ff}
.mainbody{BACKGROUND-IMAGE:url(mainbg.gif);}
.mainbg{background-color:#FFFFFF;padding:10px 40px 10px 40px}
.check{background-color:#EEEEEE;}
TABLE.Menu {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 135px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TABLE.Menu TH {
	CURSOR: hand; COLOR: #414141; HEIGHT: 25px; BACKGROUND-IMAGE:url(left_bg.gif);
}
TABLE.Menu TD {
	PADDING-LEFT: 5px;
}
TABLE.Menu TD A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.Menu TD A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.Menu TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.Form {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #CECECE
}
TABLE.Form TH {
	FONT-SIZE: 9pt; COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #EEEEEE
}
TABLE.Form TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #FFFFFF
}
TABLE.Form TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Form TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Form TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.List {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #CECECE
}
TABLE.List TH {
	COLOR: #414141; HEIGHT: 24px; BACKGROUND-COLOR: #EEEEEE
}
TABLE.List TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #FFFFFF
}
TABLE.List TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.List TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.List TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.Navi {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 0px; WIDTH: 98%; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE.Navi TH {
	PADDING-LEFT: 5px; COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #799ae1; TEXT-ALIGN: left
}
TABLE.Navi TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #d6dff7
}
TABLE.Navi TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Navi TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.Navi TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}

A {COLOR: #333333; TEXT-DECORATION: underline}
.gray {color:gray}
.red {color:red}
.blue {color:blue}
.an{FONT-FAMILY: ו;FONT-SIZE:9pt}