<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title><?=$title?></title>
<link href="../template/admin/<?=$adminstyle?>/style.css" rel="stylesheet" type="text/css">
<script language='javascript' src='../template/admin/<?=$adminstyle?>/private.js'></script>
</head>
<body leftmargin="0" topmargin="20" class="mainbody">
<center>
<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="center"> <TABLE height=29 cellSpacing=0 cellPadding=0 width="100%"
background=../template/admin/<?=$adminstyle?>/r_1.gif border=0>
<TBODY>
<TR>
<TD width="34" height="28" background="../template/admin/<?=$adminstyle?>/r_12.gif"><img src="../template/admin/<?=$adminstyle?>/r_11.gif" width="30" height="28"></TD>
<TD background="../template/admin/<?=$adminstyle?>/r_12.gif"><span class="font"><?=$title?>&nbsp;</span></TD>
<TD width="86" align="right" background="../template/admin/<?=$adminstyle?>/r_12.gif"><img src="../template/admin/<?=$adminstyle?>/r_13.gif" width="80" height="28"></TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
<TBODY>
<TR>
<TD width=8 background="../template/admin/<?=$adminstyle?>/r_di1.gif">&nbsp;</TD>
<TD class="mainbg" align=center>